body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 71%, 99%);

}

.calculator {
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    
}

.display {
    background-color: hsl(0, 0%, 60%);
    text-align: right;
    font-size: 2rem;
    overflow-x: auto;
    color: hsl(0, 0%, 100%);
    height: 50px;

}

.buttons {
    background-color: hsl(0, 0%, 0%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
    padding: 10px;
    
}

.btn:hover {
    background-color: hsl(0, 4%, 65%);
}

.btn {
    background-color: hsl(0, 4%, 47%);
    border-radius: 80%;
    padding: 15%;
    color: white;
    font-size: 3rem;
}

.btn.operator {
    background-color: hsl(36, 82%, 60%);
}

.btn.operator:hover {
    background-color: hsl(36, 82%, 81%);
}